@font-face {
    font-family: "iconfont"; /* Project id 3395510 */
    src: url('//at.alicdn.com/t/font_3395510_nzwg97moud.woff2?t=1652343583047') format('woff2'),
    url('//at.alicdn.com/t/font_3395510_nzwg97moud.woff?t=1652343583047') format('woff'),
    url('//at.alicdn.com/t/font_3395510_nzwg97moud.ttf?t=1652343583047') format('truetype');
}

[class*='ll-icon-'] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ll-icon-yanjing1:before {
    content: "\e661";
}

.ll-icon-chahao1:before {
    content: "\e668";
}

.ll-icon-yanjing:before {
    content: "\e750";
}

.ll-icon-chahao:before {
    content: "\e605";
}  

.ll-icon-tishishuoming:before {
    content: "\e64c";
}

.ll-icon-31tishi:before {
    content: "\e604";
}

.ll-icon-yinle:before {
    content: "\e600";
}

.ll-icon-xiangzuo:before {
    content: "\e601";
}

.ll-icon-xiangyou:before {
    content: "\e602";
}

.ll-icon-bianji:before {
    content: "\e603";
}

.ll-icon-paizhao:before {
    content: "\e620";
}

.ll-icon-fenxiang:before {
    content: "\e739";
}

.ll-icon-geren:before {
    content: "\e657";
}

.ll-icon-icon:before {
    content: "\e65f";
}

.ll-icon-dagouwuquan:before {
    content: "\e632";
}

.ll-icon-sousuo:before {
    content: "\e622";
}

.ll-icon-xiaoxi:before {
    content: "\e86f";
}

.ll-icon-bofang:before {
    content: "\e624";
}

.ll-icon-zanting:before {
    content: "\e629";
}

.ll-icon-duomeiti:before {
    content: "\e647";
}

.ll-icon-jiantou_liebiaoxiangyou:before {
    content: "\eb03";
}

.ll-icon-jiantou_liebiaoxiangzuo:before {
    content: "\eb04";
}

.ll-icon-dushu-:before {
    content: "\e610";
}

.ll-icon-shanchu:before {
    content: "\e8b6";
}

.ll-icon-shezhi:before {
    content: "\e8b7";
}

.ll-icon-dingwei:before {
    content: "\e8c4";
}

.ll-icon-a-duizhengquedagou:before {
    content: "\e685";
}